@font-face {
    font-family: 'richardmurrayroman';
    src: url('../fonts/richardm-webfont.woff2') format('woff2'),
         url('../fonts/richardm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: 'Roboto Slab', serif;  
}

body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../image/background.jpg);
    background-size: cover;
}

.container{
    height:100%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-box{
    background: #ffffff82;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

h1{
    font-family: 'richardmurrayroman';
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    text-align: center;
    width:50%;
    font-size: 1.3rem;
}

a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border-radius: 0.3rem;
}

.tab{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
}

form{
    height: 10rem;
}

input{
    display: block;
    margin: 1rem 0;
    height: 1.8rem;
    width: 15rem;
    padding-left: 0.3rem;
    border:none;
}

p{
    display: block;
    width: 100%;
    font-size: 0.7rem;
    color: red;
    margin: 0;
}

button{
    width: 80%;
    height: 1.8rem;
    margin: 0.3rem auto;
    background: #9d1a1f;
    color: white;
    border:0;
    border-radius: 1rem;
}

button:hover{
    background-color: #ca2026;
}

.inactive{
    color: #711417;
}

.active{
    color: white;
    background-color: #9d1a1f;
    
}

#errorsu, #errorli{
    font-size: 1rem;
    text-align: center;
    
}

.hidden{
    display: none;
}

@media only screen and (max-width: 768px){
    .container{
        padding:0;
        justify-content: center;
    }
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}