@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('Billabong.woff') format('woff');
}

body {
    background: #eee;
}

.wrapper {
    width: 650px;
}

#social {
    margin-top: 4rem;
}

.shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.form textarea {
    border: none;
    height: 40px;
    min-height: 40px;
    resize: none;
    line-height: 28px !important;
    transition: height 0.3s ease-in-out !important;
}

.form textarea:hover {
    box-shadow: none;
}

.delete {
    width:15px; 
    height:15px;
    margin-left:5px;
    object-fit:cover
}

.form textarea:focus {
    border: 1px solid #ddd;
    height: 150px;
    line-height: 21px;
}

.form .btn {
    margin-top: 2px;
}

.item {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.item  {
    margin-top: -1px;
}

.form:after,
.row:after {
    clear: both
}

a,
body,
center,
form,
h5,
img,
u {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit
}

body {
    font-family: 'Roboto Slab', serif;
    color: #333;
    line-height: 21px
}

p {
    line-height: 23px
}

button,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.form:after,
.form:before,
.row:after,
.row:before,
.wrapper1280:after,
.wrapper1280:before,
.wrapper748:after,
.wrapper748:before,
.wrapper960:after,
.wrapper960:before,
.wrapper320:after,
.wrapper320:before,
.wrapper414:before,
.wrapper414:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #444;
    line-height: 1;
}
.wrapper414 {
    width: 414px;
}
.wrapper748 {
    width: 748px
}

.wrapper960 {
    width: 960px
}

.wrapper1280 {
    width: 1280px
}
.wrapper320 {
    width: 320px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}


.overlay:target {
    visibility: visible;
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.line1:hover {
    color: rgba(85, 172, 238, 1);
}

.line2:hover {
    color: rgba(85, 172, 238, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: rgba(117, 117, 117, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 15;
    margin: auto;
    text-decoration: none;
    right: 0;
    left: auto;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.col-1,
.col-11,
.col-2,
.col-9 {
    float: left;
    position: relative;
    display: block;
    min-height: 5px
}

.col-11 {
    width: 91.6666666%
}

a[href="#popup1"] {
    display: flex;
    align-items: center;
}

.col-9 {
    width: 75%
}

.col-2 {
    width: 16.66666666666667%
}

.col-1 {
    width: 8.33333333%
}

textarea {
    float: left;
    resize: vertical;
    min-height: 100px
}

input,
select,
textarea {
    width: 100%;
    color: #555;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid #c8c8c8;
    transition: border ease-in .2s;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.addon-append .append.fa-angle-down,
.addon-prepend .prepend .fa-angle-down {
    top: 0
}

.addon-append .append button,
.addon-prepend .prepend button {
    height: auto!important;
    line-height: 1.1!important;
    border: none;
    background: 0 0;
    padding: 0;
    margin: 0;
    color: inherit;
    font-size: inherit
}

.addon,
.btn,
.btn-addon,
.button-group,
.buttons {
    display: inline-block
}

.addon,
.btn {
    padding: 5px 10px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: background ease-in-out .1s
}

.btn,
button {
    background: #eee
}

.btn.icon {
    height: 32px;
    width: 32px;
    font-size: 18px;
    line-height: 32px;
    padding: 0
}

.btn.icon.l {
    height: 42px;
    width: 42px;
    font-size: 27px;
    line-height: 42px
}

.btn.active,
.btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .18), rgba(0, 0, 0, .18))!important
}

.white {
    background: #FFFFFF;
    color: #444444;
}

.text400 {
    font-weight: 400
}

.text600 {
    font-weight: 600
}

.text700 {
    font-weight: 700
}

.circle,
.round {
    border-radius: 122px;
    -moz-border-radius: 122px;
    -webkit-border-radius: 122px
}

.rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.pull-right {
    float: right
}

.pull-left,
.pull-left-important {
    float: left!important
}

.pull-right-important {
    float: right!important
}

.center {
    float: none;
    margin: 0 auto
}

.relative {
    position: relative
}

.width-100 {
    width: 100%
}

.margin {
    margin: 10px
}

.margin-bottom {
    margin-bottom: 10px
}

.padding {
    padding: 10px
}

.gutter-10,
.padding-10 {
    padding: 10px
}

.gutter-h-10,
.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px
}

.padding-top-15 {
    padding-top: 15px
}

.padding-40 {
    padding: 40px
}

.padding-top-5 {
    padding-top: 5px
}

.hover-text-red:hover i:before,
.text-red,
.text-red i:before {
    color: #F44336!important
}

.padding-left-40,
padding-left-40-important {
    padding-left: 40px !important
}

.avatar {
    object-fit: cover;
    height: 45px;
    width: 45px;
}

.hover-text-red:hover {
    color: #E91E63!important
}

.text-gray:focus,
.text-gray,
.text-gray i:before {
    color: #9E9E9E!important
}

.pull-left {
    float: left
}

.text700 {
    font-weight: 700
}

.margastni {
    display: flex;
}

.margastni__search {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10em;
}

.margastni {
    height: 46px;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    color: rgba(117, 117, 117, 1);
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.margastni li {
    cursor: pointer;
}

.margastni li:hover {
    color: rgba(85, 172, 238, 1);
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.slogan {
    font-family: 'Billabong';
    font-size: 3em;
    padding-left: 1em;
}

.profile {
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.flex-right {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end
}

ol,
ul {
    list-style: none;
}

@media (max-width: 800px) {
    .col-persist.col-9 {
        width: 75%;
    }
    .col-persist.col-2 {
        width: 16.66666666666667%;
    }
    .col-persist.col-1 {
        width: 8.33333333%;
    }
    .form {
        width: 100%;
    }

    .button-left button,
    .button-right button,
    .button-left .btn,
    .button-right .btn {
        min-width: 30%;
        width: 30%;
    }
    .button-left input,
    .button-right input {
        min-width: 70%;
        width: 70%;
    }
}

@media (max-width: 603px) {
    .btn {
        width: 80%;
        float: none !important;
        display: block;
        margin: 0 auto !important;
    }
}

@media (max-width: 414px) {
    .form {
        width: 100%;
        margin-bottom: 6px;
    }
}

@media (max-width: 748px) {
    .wrapper748 {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .wrapper960 {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .wrapper1280 {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .wrapper320 {
        width: 100%;
    }
}

.no padding {
    padding: 0;
}

.width-70 {
    width: 70%;
}

.overflow {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.red-text {
    color: #87171b;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.05);
}

#BIO {
    width: 100%;
}
